.container {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
}
.container .title {
    font-size: 20px;
    padding: 100px 0 20px 0;
    line-height: 1.8;
}

.text-link {
    cursor: pointer;
}
input.count-number-input {
    pointer-events: none;
}
.item-image{width: 100px; height: 100px;}
p.addon-price {
    min-width: 20px;
}
.bg-white>div>.gold-members:last-child {
    border-bottom: 0 !important;
}
a {
    color: #006262;
    text-decoration: none !important;
}
.bg-primary {
    background: #006262 !important;
}
.text-success {
    color: #006262!important;
}
.text-primary {
  color: #2196f3 !important;
  text-decoration: none !important;
}
.btn-success {
    color: #fff;
    background-color: #006262;
    border-color: #006262;
}
.bg-success {
    background-color: #006262!important;
}
a.text-success:focus, a.text-success:hover {
    color: #006262!important;
}